.recipe{
    font-family: 'Courier New', sans-serif;
    color: purple;
    width: 750px;
    margin: auto;
    background-color: rgb(241, 199, 241);
    border-width: 20px;
    padding: 10px;
    padding-bottom: 0px;
    border: 8px solid;
}
.content{
    margin-bottom: 50px;
    
}

.title {
    font-size: 50px;
    background-color: plum;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    border: 8px dashed;

}

li{
    font-size: 35px;
    margin: 40px 0px;
    
}

a{
    color: rgb(255, 24, 255);
    font-size: 25px;
    display: block;
}

body{
    background-color: plum;
}